* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
/* not required in flex model */
    /* margin-right: 200px; */ 
    color: #f08804;
    display: block;
}
ul {
    height: 200px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    /* the commented properties are not required when we use flex */
    /* position: relative;
    left: 50%; */
    list-style-type: none;
    /* margin: 10px; */
}
body {
    background-color: lightblue;
}

.content {
    background-color: antiquewhite;
}
