* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}
header {
    height: 5vh;
    width: 100vw;
    color: white;
    position: fixed;
    text-align: center;
    top: 0px;
    background-color: #0f1111;
}
footer {
    height: 5vh;
    width: 100vw;
    color: white;
    position: fixed;
    text-align: center;
    bottom: 0px;
    background-color: #0f1111;
}
/* scroll is not working in browser, I don't know why */
.main {
    height: 100px;
    width: 100px;
    background-image: url("../../img/nature.jpg");
    background-size: cover;
    position: fixed;
    top: 50px;
    right: 10px;
}