* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#imgbox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    background-image: url("../img/narayan.jpg");
    background-size: cover;
}

#box1 {
    background-color: rgba(255, 0, 0, 0.5);
    position: sticky;
    top: 0px;
    background-image: url("../img/bhagwanVishnu.jpg");
    background-size: cover;
}
#box2 {
    background-color: rgba(0, 255, 0, 0.5);
    position: absolute;
    left: 250px;
}
#box3 {
    background-color: rgba(0, 0, 255, 0.5);
    position: fixed;
    right: 60px; 
}
#box4 {
    background-color: rgba(255, 255, 0, 0.5);
    position: sticky;
    top: 0px;
    left: 100px;
}
#lorembox {

}