* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: border-box;
}

header {
    margin: 15px;
}
h1 {
    margin: 10px;
}

.loader1 {
    height: 200px;
    width: 200px;
    position: relative;
    left: 30%;
    border-radius: 50%;
    border: 5px solid blue;
    border-top: 15px solid red;
    Animation-name: spinAnimate;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
 @keyframes spinAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }

 .loader2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    left: 50vw;
    border: 15px solid #190933;
    border-top: 15px solid #5DD9C1;
    animation: spinAnimate2 2s ease-in-out 1s infinite alternate;
 }
 @keyframes spinAnimate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
 }